@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}


.cont::-webkit-scrollbar-track {
  border-radius: 10px;  
}
.contenedor::-webkit-scrollbar{
  -webkit-appearance: none;
}

.contenedor::-webkit-scrollbar:vertical{
  width:5px;
}

.contenedor::-webkit-scrollbar-thumb{
  border-radius: 20px;
  border: 1px solid #fff;
}

.contenedor::-webkit-scrollbar-track{
  border-radius: 10px;  
}

.contenedor::-webkit-scrollbar:horizontal {
  height: 5px;
}